<!DOCTYPE html>
<html lang="en"  dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <form class="" action="/register" method="post">

      <input type="email" name="username" value="">
      <input type="String" name="password" value="">
      <button type="submit" name="button">+</button>

    </form>

  </body>
</html>
